        /*============**  Service Area  **============*/
        
        .service-area {
            background: #F8FBFE;
        }
        
        .service-single {
            padding: 55px 40px;
            transition: all .3s ease-in-out;
            position: relative;
            background-color: $white_color;
            @media #{$lg-device} {
                padding: 50px 25px;
            }
            &__icon-box i {
                font-size: 35px;
                color: $white_color;
            }
            &__icon-box {
                height: 65px;
                width: 65px;
                background: $primary-color;
                text-align: center;
                line-height: 70px;
                border-radius: 30px;
                border: 1px solid $white_color
            }
            &__content {
                & h4 {
                    font-size: 24px;
                    margin-bottom: 20px;
                    text-transform: capitalize;
                    transition: all .3s ease-in-out;
                    @media #{$lg-device} {
                        font-size: 22px;
                    }
                }
                p {
                    margin: 0;
                    transition: all .3s ease-in-out;
                }
            }
            &:hover {
                background-color: $primary-color;
                .service-single__content {
                    & h4 {
                        color: $white_color
                    }
                    p {
                        color: $white_color
                    }
                }
            }
        }